body {
  display: flex;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #343a40;
  color: #fff;
  height: 100vh;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.sidebar a:hover {
  background-color: #495057;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.sidebar img {
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-left: 10px;
}

.group {
  display: flex;
  justify-content: end;
  text-align: center;
}
